<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <httpRedirect enabled="true" destination="" exactDestination="false" childOnly="true" httpResponseStatus="Temporary" />
        <rewrite>
            <rules>
                <rule name="Redirect to HTTPs" enabled="true" stopProcessing="true">
					<match url="(.*)" />
					<conditions>
                        <add input="{HTTPS}" pattern="^OFF$" />
					</conditions>
					<action type="Redirect" url="https://{HTTP_HOST}/{R:1}" redirectType="Temporary" />
				</rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
